<!DOCTYPE html>
<html>

<head>
  <style>
    body {
      text-align: center
    }
  </style>
</head>

<body>
  <% include ../partials/picture.ejs %>
</body>

<script>
  setInterval(() => {
    console.log('Refreshing picture...')
    // document.getElementById('picture').src =
    //   'https://storage.googleapis.com/spotty-ruhacks.appspot.com//home/tank/image.jpg?' + new Date().getTime()
  }, 3000)
</script>

</html>